html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: lightgrey;
}

body {
    margin: auto;
    width: 60%;
}

header {
    display: flex;
    justify-content: center;
    background-color: #40DFEF;
    color: #FFFBE7;
    text-align: center;
}

header ul li {
    list-style: none;   
}


section form ul li {
    list-style: none;
}

section form ul li label {
    font-size: 22px;
}

section {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    font-size: medium;
}

section button {
    margin: 5px;
    font-size: 20px;
}

/* FOOTER */

footer {
    background-color: #363062;
    padding: 50px 50px;
    margin-top: 140px;
    text-align: center;
}

.footer-p {
    color: white;
}

.footer-span {
    color: yellow;
}

/* TABLE */

tablr, th, td {
    background-color: white;
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 5px;
    font-size: medium;
}